<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" type="text/css" th:href="@{css/register.css}">
</head>
<body>
<div class="container">
    <div class="message" th:if="${message!= null}">
        [[${message}]]
    </div>
    <h2>Register Form</h2>


    <form class="register-form" th:action="@{/registration}" method="post" role="form" th:object="${user}">

        <div class="form-group">
            <label for="fullname">Full Name:</label>
            <input th:field="*{fullname}" type="text" id="fullname" name="fullname" required>
        </div>

        <div class="form-group">
            <label for="email">Email:</label>
            <input th:field="*{email}" type="email" id="email" name="email" required>
        </div>

        <div class="form-group">
            <label for="password">Password:</label>
            <input th:field="*{password}" type="password" id="password" name="password" required>
        </div>
        <input type="submit" value="Register">
    </form>

</div>
</body>
</html>
